.index {
  background-color: #f4f6f9;

  .chartsForm {
    width: 100%;

    .block {
      height: 400px;
      //width: 400px;
    }
    .addressSum{
      height: 400px;
    }
  }

}

//公共样式
.p0m0 {
  margin-right: 0 !important;
}
