.essayList{
  background-color: #f4f6f9;
  padding-bottom: 3vh;
  /deep/.recDivider{
    margin: 0;
    padding: 24px;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.pb2{
  padding-bottom: 2vh;
}
.pt2{
  padding-top: 2vh;
}

