.e-card {
  margin-top: 3vh;
  width: 600px;
  height: 21vh;
  background-color: white;
  //图片
  .img {
    width: 250px;
    height: 21vh;

    img {
      height: 100%;
      width: 100%;
    }
  }

}
