.register {
  width: 100%;
  //height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f4f6f9;

  .registerCard {
    width: 500px;
    margin: 50px auto;
    //height: 600px;
    background-color: #ffffff;
    padding: 10px 0;

    .registerLogo {
      text-align: center;
    }

    .registerFrom {
      margin-top: 3%;

      /deep/ .btn_group {
        text-align: center;

        .el-form-item__content {
          margin-left: 0 !important;
        }
      }
    }
  }
}


//公共样式
.input-width {
  width: 80%;
}
