//底部
.footer {
  padding-top: 3%;
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  border-top: 1px rgba(183, 185, 206, 0.36) solid;
  //左边内容
  .content-1 {
    width: 500px;
    float: left;

    .link {
      .link-p {
        padding-left: 5px;
        padding-right: 5px;
        float: left;
        color: #111111;
      }
    }

    p {
      padding-top: 3%;
    }
  }

  //  右边内容
  .content-2 {
    text-align: center;
    float: right;

    .footer-qrcode {
      width: 150px;
      height: 150px;
      background-image: url("../../assets/img/qrcode.jpg");
      background-size: 100% 100%;
      background-position: center center;
    }
  }
}

//---------公共样式区----------//

.fb {
  color: #60b6ff;
}

.fgray {
  color: #949494;
}

.container-self {
  width: 85%;
  margin: 0 auto;
}
