.essayInfo {
  background-color: #f4f6f9;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

  .essayCard {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    //  banner
    .cardBanner {
      width: 100%;
      height: 350px;
      //banner内内容
      .bannerContent {
        height: 350px;
        width: 80%;
        margin: 0 auto;
        background-color: #6ddaff;
        padding-top: 40px;
        //发布时间
        .essay-time {
          color: #ffffff;
          width: 100%;
        }

        //  标题 title
        .essay-title {
          width: 100%;
          color: #ffffff;
          margin-top: 80px;
        }

        //  作者
        .author {
          width: 100%;
          color: #ffffff;
          margin-top: 120px;
        }
      }
    }

    //  内容(cardContent)
    .cardContent {
      width: 100%;
    }
  }
}
