.essayInfo {
  background-color: #f4f6f9;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

  .essayCard {
    background-color: #ffffff;
    border-radius: 4px;
    width: 90%;
    margin: 0 auto;
    //  banner
    .cardBanner {
      width: 100%;
      border-radius: 4px 4px 0 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      //黑色蒙版
      .black {
        background-color: rgba(0, 0, 0, 0.31);
        //banner内内容
        .bannerContent {
          width: 80%;
          margin: 0 auto;
          padding-top: 40px;
          //发布时间
          .essay-time {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .moreOptions {
              width: 40px;
              height: 30px;

              .moreOptionsImg {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                cursor: pointer;
              }
            }
          }

          //  标题 title
          .essay-title {
            width: 100%;
            margin-top: 80px;
          }

          .essayFooter {
            margin-top: 120px;
            padding-bottom: 40px;
            width: 100%;
            height: 20px;
            //  作者
            .author {
              float: left;
              padding-right: 10px;
            }
          }
        }
      }

    }

    //  内容(cardContent)
    .cardContent {
      width: 100%;

      .essay {
        padding-top: 40px;
        padding-bottom: 40px;
        color: #111111;
        font-size: 1rem;
        line-height: 40px;

      }
    }
  }

  .commentArea {
    background-color: #ffffff;
    border-radius: 4px;
    width: 90%;
    margin: 20px auto;
    padding: 20px 20px;

    .postBtn {
      float: right;
    }

    .comments {
      padding: 10px 20px;


      .userComment {
        .userPic {
          float: left;
        }

        .userInfo {
          float: left;
          margin: 5px 0 0 10px;

          .username {
            font-weight: 500;
            font-size: 17px;
            padding-bottom: 5px;
          }
        }

        .dateTime {
          margin-top: 8px;
          float: right;
        }
      }

      .loadMoreComment {
        width: 100%;
        text-align: center;

        .load {
          font-size: 17px;
          cursor: pointer;
        }
      }
    }
  }
}

.fw {
  color: #ffffff;
}

//  星级打分
.star {
  text-align: center;
}

.dialogText {
  margin-top: 10px;
}


