.picShow {
  background-color: #f4f6f9;

  .container {
    width: 85%;
    margin: 0 auto;

    .grid {
      padding-top: 20px;
      transition: all ease-in-out 0.3s;
      -moz-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;

      .grid-item {
        cursor: pointer;
        width: 260px;
        margin-bottom: 20px;
        transition: all ease-in-out 0.3s;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
      }

      .grid-item:hover {
        transform: scale(1.03);
        -o-transform: scale(1.03);
        -moz-transform: scale(1.03);
      }
    }


  }
}
