.picShow {
  background-color: #f4f6f9;

  .container {
    width: 85%;
    margin: 0 auto;

    .grid {
      padding-top: 20px;
      transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;

      .grid-item {
        cursor: pointer;
        width: 260px;
        margin-bottom: 20px;
        transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
      }

      .grid-item:hover {
        transform: scale(1.03);
        -o-transform: scale(1.03);
        -moz-transform: scale(1.03);
      }
    }

    .loadMore {
      width: 100%;
      text-align: center;
      padding: 20px 0;

      span {
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }

  }
}
