.picShow {
  background-color: #f4f6f9;

  .container {
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;

    .postPic {
      width: 100%;

      .postPicBtn {
        float: right;
      }
    }

    .grid {
      padding-top: 10px;
      transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;

      .grid-item {
        cursor: pointer;
        width: 260px;
        margin-bottom: 20px;
        transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
      }

      .grid-item:hover {
        transform: scale(1.03);
        -o-transform: scale(1.03);
        -moz-transform: scale(1.03);
      }
    }

    .loadMore {
      width: 100%;
      text-align: center;
      padding: 20px 0;

      span {
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }

  }

  //具体内容弹窗
  .el-dialog.picDialog {
    margin-top: 5vh !important;

    .el-dialog__header {
      padding: 0 !important;
    }

    .el-dialog__body {
      .dialogConcent {
        .leftPic {
          width: 65%;
          float: left;

          .el-image {
            width: 100%;
            height: 600px;
          }
        }

        .rightContent {
          width: 35%;
          float: left;
          padding: 10px 10px;

          .header {
            display: flex;
            align-items: center;

            .username {
              padding-left: 10px;
            }
          }

          .midContent {
            font-size: 16px;
            color: #333333;
            margin-top: 10px;
            padding: 0 0 0 20px;
          }

          .clickArea {
            width: 100%;

            .clickIcon {
              cursor: pointer;
              width: 35px;
              height: 35px;
              margin: 10px 0 0 0;
              float: right;
            }

            .isSubIcon {
              width: 35px;
              height: 35px;
              margin: 10px 0 0 0;
              float: right;
            }
          }
        }
      }
    }
  }

  //post照片弹窗
  .el-dialog.postDialog {
    .postDialog_content {
      .reShow {
        margin: 5px 0;
        width: 100px;
        height: 100px;
      }
    }
  }
}
