.liveRoom {
  background-color: #f4f6f9;
  padding-top: 5vh;
  padding-bottom: 5vh;

  .container-self {
    width: 85%;
    margin: 0 auto;

    .roomHearder {
      width: 100%;
      display: flex;
      align-items: center;

      .userAvatar {
        float: left;
      }

      .roomTitle {
        padding-left: 2vw;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .room-title {
          padding-bottom: 1vh;
        }
      }
    }

    .content {
      padding-top: 3vh;

      .screenContent {
        overflow: hidden;
        width: 79%;
        height: 80vh;
        float: left;
        //弹幕
        .barrage {
          z-index: 99;
          width: 67%;
          position: absolute;
          overflow: hidden;
          font-size: 1.5rem;
          color: #ffffff;

          li {
            margin-left: 70vw;
            height: 5vh;
            list-style: none;
            overflow: hidden;
          }

        }

        .liveScreen {
          float: left;
          width: 100%;
          height: 80vh;
          background-color: #2c2c2c;
          overflow: hidden;
        }
      }

      //  聊天框
      .chat {
        margin-left: 0.5%;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        float: left;
        width: 20%;
        height: 80vh;
        //background-color: #ffffff;

        //聊天屏
        .chatScreen {
          width: 100%;
          height: 92%;
          overflow: scroll;
          overflow-x: hidden;
          overflow-y: auto;
          background-color: #ffffff;
        }

        //输入框
        .chatInput {
          width: 100%;
        }
      }
    }

    .liveInfo {
      margin-top: 5vh;
    }
  }
}


//公共样式
.clearFix {
  clear: both;
}

.float-right {
  float: right;
}

//彩虹字体
.rainbowFont {
  background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: maskedAnimation 4s infinite linear;
}

@keyframes maskedAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes barrageRoll {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    margin-left: -70vw;
  }
}

//  弹幕动画
.barrageAnimate {
  -webkit-animation: barrageRoll 9s linear forwards;
  animation: barrageRoll 9s linear forwards;
  -o-animation: barrageRoll 9s linear forwards;
  -moz-animation: barrageRoll 9s linear forwards;
}

//取消占位
.addDisplay {
  display: none;
}

